In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('games_tweets.csv')
df.head()

,id,user_description,user_location,coordinates,text,geo,user_name,user_created,user_followers,id_str,created,retweet_count,user_bg_color,polarity,subjectivity
0,1,| Name: Andy | Age: 19 | Gender: Female | Dog ...,Fandom Hell,NaN,RT @TITANSofCOSPLAY: Aloy #cosplay by @IlonaBu...,NaN,NoctisLCatchem,2012-04-04T02:56:47,59,841923464961376256,2017-03-15T08:06:10,0,000000,0.0,0.0
1,2,"BB, #blogueur et #Youtubeur #Cinema #JeuxVideo...",NaN,NaN,Quel temps de merde...\n#Ps4 #Aloy #HorizonZer...,NaN,_BBBuzz,2011-07-18T20:08:35,1292,841923473123508224,2017-03-15T08:06:12,0,022330,0.0,0.0
2,3,Bee yourself.,Hyrule,NaN,love filling this up #BreathoftheWild #Nintend...,NaN,swolepepe,2015-08-31T02:16:51,75,841923474193014785,2017-03-15T08:06:13,0,C0DEED,0.5,0.6
3,4,"It is said that one man is not two, but three ...","Duluth, MN",NaN,#BreathoftheWild #NintendoSwitch https://t.co/...,NaN,Otofuniki64,2013-07-09T00:53:39,32,841923474486624258,2017-03-15T08:06:13,0,000000,0.0,0.0
4,5,No eres tú. Soy yo.,Villarrobledo City,NaN,RT @JohnCarca: Esto es lo que pasa cuando cons...,NaN,DavidJuampax,2011-08-21T14:48:23,153,841923476311154690,2017-03-15T08:06:13,0,C0DEED,0.0,0.0

In [3]:
df["coordinates"].isnull().sum()

1394

In [30]:
df.shape[0]

1395

In [5]:
df["geo"].isnull().sum()

1394

In [25]:
pd.notnull(df["geo"]).iloc[0]

False

In [31]:
for i in range(df.shape[0]):
    if pd.notnull(df["geo"])[i] == True:
        print(i)

590

In [32]:
df["geo"][590]

'{"type": "Point", "coordinates": [51.53333333, -0.08333333]}'

In [6]:
df = df.drop(["coordinates", "geo"], axis=1)
df.head()